<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="photo-viewer" version="1.6">
  <details>
    <title>Photo Viewer</title>
    <email>wirecloud@conwet.com</email>
    <image>images/catalogue.png</image>
    <smartphoneimage>images/catalogueSmartphone.png</smartphoneimage>
    <description>This widget shows photos from different sources.</description>
    <doc>doc/index.md</doc>
    <authors>Santiago Blanco &lt;sblanco@conwet.com&gt;, Javier Serrano &gt;jserrano@conwet.com&lt;</authors>
  </details>
  <wiring>
    <inputendpoint name="urlSlot" type="text" label="Photo URL" description="The URL of a photo" friendcode="url"/>
  </wiring>
  <contents src="index.html" useplatformstyle="true"/>
  <rendering height="28" width="6"/>
</widget>
